{% extends "../base.html" %}

{% block sidebar %}
    <a href={% url "homepage"%}>Main page</a>
{% endblock %}
{% block content %}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <div class="comics-form">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token%}
      {{form.as_p}}
      <button type="submit" id="add_comics">Add</button>
    </form>
    <button type="submit" id="add_a">
      <a href={% url "add_author" %}>New author</a>
    </button>
    <button type="submit" id="add_p">
      <a href={% url "add_publisher" %}>New publisher</a>
    </button>
    <button type="submit" id="cancel-button">
      <a href={% url "homepage" %}>Cancel</a>
    </button>
  </div>
{% endblock %}
